     .heading {
         position: absolute;
         width: 230px;
         height: 200px;
         left: 700px;
         top: 92px;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 700;
         font-size: 25px;
         line-height: 36px;
         color: #0F0D0D;
     }
     
     .welcome {
         position: absolute;
         width: 294px;
         left: 600px;
         top: 1px;
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 800;
         font-size: 40px;
         line-height: 47px;
         /* identical to box height */
         color: #FFFFFF;
     }
     
     .welcomebox {
         position: absolute;
         width: 1026px;
         height: 95px;
         left: 255px;
         top: 10px;
         background: #016ABC;
         border: 4px solid #9FBAD2;
         box-sizing: border-box;
         border-radius: 20px;
     }
     
     body {
         background-color: #f1f1f1;
     }
     
     .add {
         position: absolute;
         font-family: 'Times New Roman', Times, serif;
         font-style: normal;
         font-size: 30px;
         left: 830px;
         height: 75px;
         width: 175px;
         top: 300px;
         background-color: #FFFFFF;
         opacity: 0.7;
         border: none;
         border-radius: 20px;
         ;
         border: 3px solid #016ABC;
     }
     
     .add:hover {
         background-color: #6b95d4;
     }
     
     .delete {
         position: absolute;
         font-family: 'Times New Roman', Times, serif;
         font-style: normal;
         font-size: 30px;
         left: 300px;
         height: 75px;
         width: 190px;
         top: 300px;
         background-color: #FFFFFF;
         opacity: 0.7;
         border: none;
         border-radius: 20px;
         border: 3px solid #016ABC;
     }
     
     .delete:hover {
         background-color: #6b95d4;
     }
     
     .edit {
         position: absolute;
         font-family: 'Times New Roman', Times, serif;
         font-style: normal;
         font-size: 30px;
         left: 550px;
         height: 75px;
         width: 175px;
         top: 300px;
         background-color: #FFFFFF;
         opacity: 0.7;
         border: none;
         border-radius: 20px;
         border: 3px solid #016ABC;
     }
     
     .edit:hover {
         background-color: #6b95d4;
     }
     
     .view {
         position: absolute;
         font-family: 'Times New Roman', Times, serif;
         font-style: normal;
         font-size: 30px;
         left: 1100px;
         height: 75px;
         width: 175px;
         top: 300px;
         background-color: #FFFFFF;
         opacity: 0.7;
         border: none;
         border-radius: 20px;
         border: 3px solid #016ABC;
     }
     
     .view:hover {
         background-color: #6b95d4;
     }
     
     .logout {
         position: absolute;
         left: 1200px;
         top: 70px;
     }
     
     .logout:hover {
         color: #000;
     }
     
     .title1 {
         position: absolute;
         width: 183px;
         height: 48px;
         left: 350px;
         top: 5px;
     }
     
     .cont {
         position: absolute;
         width: 1012px;
         height: 325px;
         left: 279px;
         top: 170px;
         background-color: #dae4ec;
         border: 3px solid #016ABC;
         box-sizing: border-box;
         border-radius: 30px;
     }
     
     .slastcont {
         position: absolute;
         width: 1536px;
         height: 165px;
         left: 0px;
         top: 510px;
         background-color: #016ABC;
     }
     
     .copyrigth {
         position: absolute;
         width: 780px;
         height: 40px;
         left: 498px;
         top: 660px;
         font-family: 'Inter';
         font-style: normal;
         font-size: 22px;
         line-height: 30px;
         font: blod;
         color: #0F0909;
     }
     
     .traffic {
         position: absolute;
         width: 154px;
         height: 30px;
         left: 337px;
         top: 482px;
         font-family: 'Inter';
         font-style: normal;
         font-size: 28px;
         line-height: 30px;
         color: #FFFFFF;
     }
     
     .trafficinfo {
         position: absolute;
         width: 154px;
         height: 30px;
         left: 340px;
         top: 522px;
         font-family: 'Inter';
         font-style: normal;
         font-size: 20px;
         line-height: 30px;
         color: #FFFFFF;
     }
     
     .info {
         position: absolute;
         width: 154px;
         height: 30px;
         left: 675px;
         top: 482px;
         font-family: 'Inter';
         font-style: normal;
         font-size: 28px;
         line-height: 30px;
         color: #FFFFFF;
     }
     
     .info1 {
         position: absolute;
         width: 154px;
         height: 30px;
         left: 675px;
         top: 522px;
         font-family: 'Inter';
         font-style: normal;
         font-size: 20px;
         line-height: 30px;
         color: #FFFFFF;
     }
     
     .partners {
         position: absolute;
         width: 154px;
         height: 30px;
         left: 975px;
         top: 482px;
         font-family: 'Inter';
         font-style: normal;
         font-size: 28px;
         line-height: 30px;
         color: #FFFFFF;
     }
     
     .partners1 {
         position: absolute;
         width: 154px;
         height: 30px;
         left: 975px;
         top: 522px;
         font-family: 'Inter';
         font-style: normal;
         font-size: 20px;
         line-height: 30px;
         color: #FFFFFF;
     }
     
     .photo {
         position: absolute;
         height: 70px;
         width: 70px;
         top: 22px;
         left: 273px;
         border-radius: 20px;
     }