*{ /* Initial CSS applied to all elements in page */
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif; /*  Same font*/}
   
    html,body{
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
 body{
overflow-x:hidden;
overflow-y: 100px;
}
   
  .searchTerm{
    position: relative;
    left: 950px;
    padding: 10px;
    bottom: 15px;
    width: 250px;
      
  }
::placeholder{
    position: relative;
    left:6px;
}
.logo{
    height: 70px;
    width:70px;
    position: relative;
    left:8px;
    bottom:78px;
}
.login{
    position: relative;
    left: 1270px;
    border-radius:10px ;
    padding:7px;
    width: 130px;
    color: #030161;
    font: bold;
    font-size: 20px;
    bottom:55px;
}
  .desc{/* for h1 title */
  position: relative;
  top: 27px;
  left:110px;
  color:#ffffff;
  font-size: 40px;
  }
   .search{
    background-color:#030161;
    width:1460px;
    position: relative;
    left:30px;
    top:20px;
   height:90px;

  } 
  .searchButton{ /* Set width of an element */
  position: relative;
  left: 910px;
  padding:7px;
  bottom: 18px;
  border: transparent;
  }

.img{
    position: relative;
    left:20px;
    top:39px;
}

.inside p{
background: #030161;
padding: 40px;
left: 35px;
bottom: 320px;
opacity: 0.5;
position:relative;
text-align: center;
width: 1370px;
color:#ffffff;
font: bold;
font-size:30px;
filter:brightness(150%);
}
.inside button{
position: relative;
left: 674px;
border-radius:10px ;
border: transparent;
padding:15px;
bottom:240px;
background: #F2C94C;
width:190px;
color: rgb(255, 255, 255);
font-size:20px;
}
.inside button:hover{
    background-color: #c8ae19; /* Change color on button hover */
  }
  form{
    background-color: #c8ae19;
    width:0px;
    height: 0px;
  }
    
    .about{
      position:relative;
      width: 1400px;
      left:50px;
      bottom: 70px;
    }
    .head{
    font-weight: 400;
    font-size: 50px;
    }

    .info{
      font-weight: 200;
      font-size: 30px;
      text-align: justify;
    }
    .info2{
      font-weight: 200;
      font-size: 30px;
      text-align: justify;
    }
    .showbox{
      background-color:#030161;
    width:1520px;
    position: relative;
   height:90px;
   top:50px;
   text-align: center;
   color: #ffffff; 
  }
  .showbox h3{
    position: relative;
    font-size: 40px;
    font-weight: 300;
    top:20px;
  }
  .sec{
    position: relative;
    left:500px;
    bottom:340px;

  }
  .thi{
   
      position: relative;
      left:1000px;
      bottom:710px;
  
    }
    .news{
      position: relative;
      left:50px;
      top:120px;
      height: 200;
    }
  .news p{
    font-size:30px;
    font-weight:bold;
  }

  .one{
    position: relative;
    top:40px;
  }
  .two{
    position: relative;
    left:500px;
    bottom: 300px;
  }
  .three{
    position: relative;
    left:1000px;
    bottom: 670px;
  }