    #lbox {
        position: relative;
        left: 11%;
        top: 17px;
        border: none;
        font-size: large;
    }
    
    #rboxt {
        position: relative;
        left: 64%;
        top: -157px;
        font-size: x-large;
    }
    
    #rbox {
        position: relative;
        left: 65%;
        top: -159px;
        border: none;
        font-size: large;
    }
    
    #lboxt {
        font-size: x-large;
        position: relative;
        left: 9%;
        top: 18px;
    }
    
    hr {
        border: none;
        border-top: 2px dashed black;
        padding-top: 4px;
        padding-bottom: 0px;
    }
    
    .hr2nd {
        position: relative;
        top: -80px;
    }
    
    .veti {
        position: absolute;
        left: 49%;
        top: 17%;
        height: 12%;
    }
    
    .button {
        position: relative;
        left: 43.5%;
        top: -70px;
        height: 5%;
        font-weight: 15%;
        align-items: center;
        padding: 13px;
        border-radius: 10px;
        width: 130px;
        background-color: rgb(22, 65, 183);
        color: aliceblue;
        border: none;
        font-size: medium;
    }
    
     ::placeholder {
        color: aliceblue;
    }
    
    .img {
        position: absolute;
        height: 10%;
        width: 7%;
        top: 20px;
        left: 3%;
    }
    
    #fine {
        position: relative;
        left: 77%;
        top: -73px;
        border: none;
        font-size: large;
    }